/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/AndroidProjectSystem.xml
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/MarsCodeWorkspaceAppSettings.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.kotlin/errors/errors-1754582917049.log
/.kotlin/errors/errors-1754583052533.log
/.kotlin/errors/errors-1754583103101.log
